ng-sidebar-container {
  height: 90vh;
  z-index: 0;
}

.ham {
  font-size: 30px;
  outline: none;
  overflow: hidden;
}
p {
  margin-top: 60px;
  font-size: 40px;
  color: rgb(216, 173, 173);
}
p:hover {
  box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.9);
}

::ng-deep .ng-sidebar {
  width: 250px;
  padding: 2em 3em;
  box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
  background-color: rgb(156, 130, 107, 0.3);
}
.menu {
  margin-top: 40px;
}

.menu li {
  width: 100%;
  margin-bottom: 30px;
  list-style-type: none;
}
.menu li button {
  font-size: 15px;
}

a {
  border: none;
  text-decoration: none;
  color: rgb(216, 173, 173);
  font-size: 20px;
}

a:hover {
  box-shadow: 10px 10px 2.5em rgba(170, 166, 160, 0.9);
}
