<ng-sidebar-container>
  <!-- sidebar -->
  <ng-sidebar [opened]="opened">
    <p (click)="toggleSidebar()">Rovers</p>
    <!-- <ul class="menu">
      <li>
        <a routerLink="/curiosity" (click)="toggleSidebar()">Curiosity</a>
      </li>
      <li>
        <a routerLink="/curiosity" (click)="toggleSidebar()">Opportunity</a>
      </li>
      <li><a routerLink="/curiosity" (click)="toggleSidebar()">Spirit</a></li>
    </ul> -->
    <ul class="menu">
      <li>
        <a routerLink="/rover-details/Curiosity" (click)="toggleSidebar()">
          Curiosity
        </a>
      </li>
      <li>
        <a
          routerLink="/rover-details/Opportunity"
          (click)="toggleSidebar()"
        >
          Opportunity
        </a>
      </li>
      <li>
        <a routerLink="/rover-details/Spirit" (click)="toggleSidebar()">
          Spirit
        </a>
      </li>
    </ul>
  </ng-sidebar>
  <div ng-sidebar-content>
    <!-- page Header -->
    <button (click)="toggleSidebar()" class="btn btn-default ham">=</button>
    <!-- page Body -->
    <!-- <ul>
    <li><input type="search"/>  Search Rover</li>
    <p>implement search pipe here</p>
  </ul> -->
  </div>
</ng-sidebar-container>
