<div class="container main-cnt">
  <h1 class="display-1  head">Mars Rover</h1>

  <hr class="my-2" />
  <p>
    A Mars rover is a motor vehicle designed to travel on the surface of Mars.
    <br />
    Rovers have several advantages over stationary landers: they examine more
    territory, they can be directed to interesting features, they can place
    themselves in sunny positions to weather winter months, and they can advance
    the knowledge of how to perform very remote robotic vehicle control. They
    serve a different purpose than orbital spacecraft like Mars Reconnaissance
    Orbiter.
  </p>
  <hr />
  <p>
    This App uses NASA's Api to fetch the images clicked by three different Rovers. Choose any rover to begin with.
  </p>

  <div class="buttons">
    <button
      class="btn btn-outline-dark"
      type="button"
      routerLink="/rover-details/Curiosity"
    >
      Curiosity
    </button>
    <button
      class="btn btn-outline-dark"
      type="button"
      routerLink="/rover-details/Opportunity"
    >
      Opportunity
    </button>
    <button
      class="btn btn-outline-dark"
      type="button"
      routerLink="/rover-details/Spirit"
    >
      Spirit
    </button>
  </div>
</div>
